.subcategory__item {
  width: 70%;
  height: 5rem;
  margin: 2rem auto 0 auto;
  background-color: #DAD6d6;
  display: flex;
  justify-content: center;
  align-content: center;
}

.button__subcategory {
  display: flex;
}

.button-subcategory__text {
  align-self: center;
}
