.offer-list {
  margin: 0 auto;
}

.offer__header {
  text-align: center;
  margin-bottom: 1rem;
}

.offer-result__list {
  margin-top: 2rem;
  list-style-type: none;
  margin-bottom: 2rem;
}

.link__result {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 1rem;
  align-items: center;
  height: 100%;
}

.offer-result__item {
  width: 95%;
  margin: 2rem auto 0 auto;
  height: 8rem;
  border: 0.1rem solid #847979;
  border-radius: 1rem;
}

.result__icon {
  height: 3.5rem;
}

.category__wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 0.5rem;
  justify-items: center;
  align-items: center;
}

.offer-category__text2 {
  text-align: center;
  padding: 0.5rem;
}

.accept__button {
  width: 90%;
  height: 70%;
  background: #88d317;
  border: none;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 1rem;
}

.cancel__button {
  width: 90%;
  height: 70%;
  background: #d34440;
  border: none;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 1rem;
}

.offer-link__wrapper {
  height: 4rem;
  display: flex;
  width: 50%;
  margin: 0 auto 2rem auto;
  justify-content: center;
  align-items: center;
}

.button__offer {
  padding: 1.5rem;
  background-color: #88d317;
  border-radius: 1rem;
}

.hidden {
  display: none;
}
