.h2__text2 {
  text-align: center;
  margin-bottom: 2rem;
}

.h3__text {
  text-align: center;
  margin-top: 4rem;
}

.stats__item {
  display: grid;
  width: 70%;
  margin: 1rem auto 0 auto;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.stats__wrapper2 {
  width: 60%;
  margin: 0 auto;
}

.star__wrapper {
  width: 80%;
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: center;
}

.star__icon {
  width: 4rem;
}
