.h2__text {
  text-align: center;
}

.h3__text {
  text-align: center;
}

.input__wrapper {
  width: 60%;
  margin: 2rem auto;
  display: grid;
}

.profile__label {
  width: 90%;
  display: block;
  margin: 0 auto 1rem auto;
  text-align: center;
}

.profile__input {
  margin: 0 auto;
  width: 90%;
  display: block;
  height: 4.5rem;
  padding: 1rem;
  border: 0.2rem solid #847979;
  border-radius: 1rem;
}

.profile__link {
  display: block;
  height: 4rem;
  margin: 1rem auto 0 auto;
  width: 90%;
  background-color: #847979;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
