.apply__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.h2__text {
  grid-column: 1 / span 2;
  text-align: center;
  margin-bottom: 1rem;
}

.apply__item {
  width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 25% 1fr;
  align-items: center;
  border: 0.1rem solid #847979;
  padding: 1rem;
  border-radius: 1rem;
}

.apply__one-item {
  grid-column: 1 / span 2;
  justify-self: center;
  align-content: center;
  padding: 2rem 3rem;
  border: 0.1rem solid #847979;
  border-radius: 1rem;
  margin-bottom: 5rem;
}

.apply__detail {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.apply__icon {
  margin-left: auto;
  margin-right: auto;
  height: 5rem;
}

.apply__text {
  text-align: center;
}

.button__apply {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.apply__button {
  border: 0.1rem solid #847979;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 70%;
  margin: 18rem auto 0 auto;
  background: #88d317;
}
