.login__item {
  width: 95%;
  height: 6rem;
  margin: 2rem auto 0 auto;
  background-color: #DAD6d6;
}

.button__login {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}

.login__icon {
  height: 5rem;
  position: absolute;
  left: 3%;
  top: 15%;
}

.button__text {
  padding-top: 2rem;
}
