.offer-wrapper {
  margin: 0 auto;
  width: 98%;
}

.offer__header {
  text-align: center;
  margin-bottom: 1rem;
}

.offer-result__list {
  margin-top: 2rem;
  list-style-type: none;
  margin-bottom: 2rem;
}

.button__result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 100%;
}

.my-offers-result__item {
  width: 100%;
  margin: 2rem auto 0 auto;
  border: 0.1rem solid #847979;
  padding: 1rem;
  border-radius: 1rem;
}

.result__icon {
  height: 3.5rem;
}

.category__wrapper {
  display: grid;
  grid-template-rows: 1fr 20%;
  grid-row-gap: 0.5rem;
  justify-items: center;
  align-items: center;
}

.offer-subcategory__text {
  text-align: center;
}

.result__button {
  width: 100%;
  height: 100%;
  background: #88d317;
  border: none;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 1rem;
}

.my-offer-link__wrapper {
  display: flex;
  width: 50%;
  margin: 0 auto 2rem auto;
  justify-content: center;
  align-items: center;
}

.my-offer__button {
  text-align: center;
  width: 15rem;
  padding: 1.5rem;
  background-color: #88d317;
  border-radius: 1rem;
}
