.other__container {
}

.h2__text {
  text-align: center;
}

.textarea__wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-items: center;
  padding-top: 2rem;
}

.other__textarea {
  height: 15rem;
  width: 100%;
  resize: none;
}

.profile__link {
  display: block;
  height: 4rem;
  margin: 1rem auto 0 auto;
  width: 90%;
  background-color: #847979;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
