.hour__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input__wrapper {
  width: 80%;
  margin: 2rem auto;
  display: grid;

}

.offer__label {
  width: 90%;
  display: block;
  margin: 0 auto 1rem auto;
  text-align: center;
}

.offer__input {
  margin: 0 auto;
  width: 90%;
  display: block;
  height: 4.5rem;
  padding: 1rem;
  border: 0.2rem solid #847979;
  border-radius: 1rem;
}

.button__wrapper {
  width: 50%;
  margin: 4rem auto 3rem auto;
}

.login-input__wrapper {
  width: 50%;
  margin: 0 auto 1.5rem auto;
}

.offer__link {
  display: block;
  height: 4rem;
  margin: 1rem auto 0 auto;
  width: 90%;
  background-color: #847979;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
