header {
  width: 100%;
  height: 5rem;
  background-color: #6e3667;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #fff;
  height: 100%;
}

.header__logo {
  margin-left: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__menu {
  background: transparent;
  border: none;
  margin-right: 1rem;
}

.hamburger__img {
  height: 4rem;
}

.header__menu--hidden {
  display: none;
}

.header__menu--visible {
  position: absolute;
  display: block;
  top: 5rem;
  right: 0;
  background-color: #6e3667;
  color: #FFF;
}

.header__menu-item {
  padding: 1rem;
}
