.search__wrapper {
  display: grid;
  width: 90%;
  margin: 1rem auto;
  grid-template-columns: 1fr 20%;
}

.search__input {
  padding-left: 1rem;
  border: 0.2rem solid #847979;
  border-radius: 1rem;
}

.search__icon {
  margin-left: 1rem;
  width: 6rem;
}

.select__wrapper {
  margin: 2rem auto 0 auto;
  width: 90%;
  display: flex;
}

.select__item {
  width: 50%;
  height: 4rem;
  margin: 0 auto;
}

.offers-results__list {
  margin-top: 2rem;
  list-style-type: none;
  font-size: 1.4rem;
}

.button__results {
  display: grid;
  grid-template-columns: 20% 20% 1fr 1fr;
  align-items: center;
  height: 100%;
}

.offers-results__item {
  width: 90%;
  margin: 1rem auto 0 auto;
  border: 0.1rem solid #847979;
  padding: 1rem;
  border-radius: 1rem;
}

.results__icon {
  height: 3.5rem;
}

.category__wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 0.5rem;
  justify-items: center;
  align-items: center;
  border-right: 0.1rem solid #847979;
}

.subcategory__text {
  text-align: center;
  padding: 0.5rem;
}

.results__button {
  width: 100%;
  height: 80%;
  background: #88d317;
  border: none;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 1rem;
}
