.category__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.category__item {
  width: 90%;
  height: 10rem;
  margin: 2rem auto 0 auto;
  background-color: #DAD6d6;
}

.other__item {
   width: 90%;
   height: 6rem;
   margin: 2rem auto;
   background-color: #88D317;
   display: flex;
   align-items: center;
 }

.button__category {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.category__icon {
  margin-left: auto;
  margin-right: auto;
  height: 5rem;
}

.category__text {
  text-align: center;
}
