.details__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.h2__text {
  grid-column: 1 / span 2;
  text-align: center;
  margin-bottom: 1rem;
}

.details__item {
  width: 90%;
  margin: 2rem auto;
  border: 0.1rem solid #847979;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.details__back {
  grid-column: 1 / span 2;
  width: 50%;
  height: 6rem;
  background-color: #88D317;
  display: flex;
  align-items: center;
  margin: 10rem auto 0 auto;
  border-radius: 1rem;
}

.details__detail {
  width: 90%;
  height: 2rem;
  margin: 4rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.details__icon {
  margin-left: auto;
  margin-right: auto;
  height: 5rem;
}

.details__text {
  text-align: center;
}

.button__back {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
}
