.offer-completed {
  width: 80%;
  margin: 0 auto;
}

.h2__text {
  text-align: center;
  margin-bottom: 2rem;
}

.star__wrapper2 {
  display: flex;
  justify-content: center;
}

.star__icon {
  margin: 0 1rem;
  width: 4rem;
  height: 4rem;
}

.input__wrapper {
  width: 80%;
  margin: 2rem auto;
  display: grid;
}

.offer-completed__label {
  text-align: center;
}

.offer-completed__input {
  width: 40%;
  margin: 1rem auto 0 auto;
  border: 0.1rem solid #847979;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.offer_completed__link {
  display: block;
  height: 4rem;
  margin: 1rem auto 0 auto;
  width: 90%;
  background-color: #847979;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
