.h1__text {
  text-align: center;
  grid-column: 1 / 3;
}

.input__wrapper {
  width: 80%;
  margin: 2rem auto;
  display: grid;
}

.login__label {
  width: 90%;
  display: block;
  margin: 0 auto 1rem auto;
  text-align: center;
}

.login__input {
  margin: 0 auto;
  width: 90%;
  display: block;
  height: 4.5rem;
  padding: 1rem;
  border: 0.2rem solid #847979;
  border-radius: 1rem;
}

.login__link {
  display: block;
  height: 4rem;
  margin: 1rem auto 0 auto;
  padding: 2rem;
  background-color: #847979;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
