@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin-ext');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
  font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  min-height: calc(100vh - 4rem);
}

main {
  margin-top: 6.5rem;
  margin-bottom: 2rem;
}
